<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- import script tag to get Stripe API into the page -->
    <!-- We use defer to make sure stripe script loads first before store.js scripts -->
    <script src="https://js.stripe.com/v3/" defer></script>
    <!-- create an inline script to set the Stripe publishable key -->
    <script>
      // we are making this a javascript variable so that we can access it inside store.js
      var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <script src="store.js" defer></script>
  </head>
  <body>
    <header class="main-header-tab-only main-header-content">
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="index.html">HOME</a></li>
          <li><a href="store.html">STORE</a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </nav>
      <h2 class="store-header">Pick Your Favorites!</h2>
    </header>
    <section class="container">
      <div class="shop-items">
        <!-- This is used to reference server-side variables. All the code inside will be executed on the server
         before it gets sent to the front-end client of the user. If "< %= ... % >" is used, it will render
         the output of the code to the screen. If "< % ... % >" is used, it will execute the code without 
         rendering output. -->
        <% items.clothes.forEach(function(item){ %>
        <!-- using data-*, allows us to access this inside javascript without putting a class or id-->
        <div class="shop-item" data-item-id="<%= item.id %>">
          <span class="shop-item-title"><%= item.name %></span>
          <img class="shop-image" src="Images/<%= item.imgName %>" alt="tshirt-image" />
          <div class="price-add-to-cart">
            <span class="item-price">$<%= item.price %></span>
            <button class="class-btn shop-item-button">ADD TO CART</button>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <section class="container">
      <h2 class="store-header">Welcome to your Cart</h2>
      <div class="cart-rows-header">
        <span class="cart-row-header">ITEM</span>
        <span class="cart-row-header">PRICE</span>
        <span class="cart-row-header">QUANTITY</span>
      </div>
      <div class="cart-items"></div>
      <div class="total-group">
        <span class="total-text">Total:</span>
        <span class="total-value">$0</span>
      </div>
      <button class="class-btn purchase-btn">PURCHASE</button>
    </section>
    <footer class="main-footer">
      <div class="footer-content">
        <h3 class="footer-title">Summerset Clothing</h3>
        <ul class="footer-list">
          <li>
            <a href="https://facebook.com" target="_blank"
              ><img
                class="footer-image"
                src="Images/Facebook Logo.png"
                alt="facebook-logo"
            /></a>
          </li>
          <li>
            <a href="https://youtube.com" target="_blank"
              ><img
                class="footer-image"
                src="Images/YouTube Logo.png"
                alt="youtube-logo"
            /></a>
          </li>
          <li>
            <a href="https:/spotify.com" target="_blank"
              ><img
                class="footer-image"
                src="Images/Spotify Logo.png"
                alt="spotify-logo"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
